#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #79d1e0;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px grey;
}

